{:output-to   "resources/public/js/gallery.js"
 :output-dir  "resources/public/js/out"
 :optimizations :simple
 :parallel-build true
 ;;:infer-externs  false
 ;;:optimizations :advanced
 ;;:infer-externs true
 :target      :esm
 :main        gallery.main
 }
