{
 ;; sources and resources to inspect
 :paths ["src/clj" "resources"]

 :deps
 {org.clojure/clojure             {:mvn/version "1.11.1"}
  ;;com.bhauman/figwheel-main       {:mvn/version "0.2.20"}
  hiccup/hiccup                   {:mvn/version "2.0.0"}
  org.clojure/data.csv            {:mvn/version "1.0.1"}
  ;;macchiato/hiccups               {:mvn/version "0.4.1"}
  org.slf4j/slf4j-simple          {:mvn/version "2.0.7"}}

 :aliases
 {:build
  {:main-opts ["-m" "pages.gallery.page"]}

  :cljs
  {:extra-deps {org.clojure/clojurescript       {:mvn/version "1.11.132"}
                ;; thheller/shadow-cljs {:mvn/version "2.27.4"}
                }
   :extra-paths ["src/cljs"]
   ;;:main-opts ["-m" "shadow.cljs.devtools.cli" "compile" "main"]
   :main-opts ["-m" "cljs.main"
               "-co" "build.cljs.edn"
               "-w" "src/cljs"
               "-c" "gallery.collapse"]
   }

  :preview
  {:extra-deps {ring/ring-core             {:mvn/version "1.10.0"}
                ring/ring-jetty-adapter    {:mvn/version "1.10.0"}}
   :main-opts ["-m" "dev.server"]}

  ;;:dev ;; development build with figwheel and repl
  ;;{:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
  ;; :main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}

  :prod ;; full on build
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.27.9"}}
   :main-opts  ["-m" "cljs.main" "-co" "production.cljs.edn"]}}}
