{:title             "🏒 BigV Webpage 🏒"
 :title-tag-landing "BigV Webpage"
 :title-tag-gallery "BigV Gallery"
 :title-tag-404     "BigV - 404 Page not found"
 :team              "Slough Jets U10s"
 :name              "Viktor Antonov"
 :bday              "2019-10-15"
 :base              "/bigv-portfolio"
 :brother-link      "https://creamy-seas.github.io/flowboy-portfolio/"
 :goat-counter-url  "https://bigv-portfolio.goatcounter.com/count"}
