{
 :team              "Slough Jets U10s"
 :bday              "2019-10-15"
 :chartjs-hash      "sha384-XcdcwHqIPULERb2yDEM4R0XaQKU3YnDsrTmjACBZyfdVVqjh6xQ4/DCMd7XLcA6Y"
 :goat-counter-url  "https://bigv-portfolio.goatcounter.com/count"}
