{:title             "🏒 BigV Webpage 🏒",
 :team              "Slough Jets U10s"
 :bday              "2019-10-15"
 :base              "/bigv-portfolio"
 :goat-counter-url  "https://bigv-portfolio.goatcounter.com/count"}
